:root {
  --text: #040316;
  --bg: #fbfbfe;
  --primary: #2f27ce;
  --secondary: #dddbff;
  --accent: #443dff;
  --textcontrast: #64d97b;
  --bgcontrast: #64d97b;
  --primarycontrast: #64d97b;
  --secondarycontrast: #64d97b;
  --accentcontrast: #ffdd00;
  --text5: hsl(243, 76%, 5%, 5%);
  --text10: hsl(243, 76%, 5%, 10%);
  --text15: hsl(243, 76%, 5%, 15%);
  --text20: hsl(243, 76%, 5%, 20%);
  --text25: hsl(243, 76%, 5%, 25%);
  --text30: hsl(243, 76%, 5%, 30%);
  --text35: hsl(243, 76%, 5%, 35%);
  --text40: hsl(243, 76%, 5%, 40%);
  --text45: hsl(243, 76%, 5%, 45%);
  --text50: hsl(243, 76%, 5%, 50%);
  --text55: hsl(243, 76%, 5%, 55%);
  --text60: hsl(243, 76%, 5%, 60%);
  --text65: hsl(243, 76%, 5%, 65%);
  --text70: hsl(243, 76%, 5%, 70%);
  --text75: hsl(243, 76%, 5%, 75%);
  --text80: hsl(243, 76%, 5%, 80%);
  --text85: hsl(243, 76%, 5%, 85%);
  --text90: hsl(243, 76%, 5%, 90%);
  --text95: hsl(243, 76%, 5%, 95%);
  --primary5: hsl(243, 68%, 48%, 5%);
  --primary10: hsl(243, 68%, 48%, 10%);
  --primary15: hsl(243, 68%, 48%, 15%);
  --primary20: hsl(243, 68%, 48%, 20%);
  --primary25: hsl(243, 68%, 48%, 25%);
  --primary30: hsl(243, 68%, 48%, 30%);
  --primary35: hsl(243, 68%, 48%, 35%);
  --primary40: hsl(243, 68%, 48%, 40%);
  --primary45: hsl(243, 68%, 48%, 45%);
  --primary50: hsl(243, 68%, 48%, 50%);
  --primary55: hsl(243, 68%, 48%, 55%);
  --primary60: hsl(243, 68%, 48%, 60%);
  --primary65: hsl(243, 68%, 48%, 65%);
  --primary70: hsl(243, 68%, 48%, 70%);
  --primary75: hsl(243, 68%, 48%, 75%);
  --primary80: hsl(243, 68%, 48%, 80%);
  --primary85: hsl(243, 68%, 48%, 85%);
  --primary90: hsl(243, 68%, 48%, 90%);
  --primary95: hsl(243, 68%, 48%, 95%);
  --secondary5: hsl(243, 100%, 93%, 5%);
  --secondary10: hsl(243, 100%, 93%, 10%);
  --secondary15: hsl(243, 100%, 93%, 15%);
  --secondary20: hsl(243, 100%, 93%, 20%);
  --secondary25: hsl(243, 100%, 93%, 25%);
  --secondary30: hsl(243, 100%, 93%, 30%);
  --secondary35: hsl(243, 100%, 93%, 35%);
  --secondary40: hsl(243, 100%, 93%, 40%);
  --secondary45: hsl(243, 100%, 93%, 45%);
  --secondary50: hsl(243, 100%, 93%, 50%);
  --secondary55: hsl(243, 100%, 93%, 55%);
  --secondary60: hsl(243, 100%, 93%, 60%);
  --secondary65: hsl(243, 100%, 93%, 65%);
  --secondary70: hsl(243, 100%, 93%, 70%);
  --secondary75: hsl(243, 100%, 93%, 75%);
  --secondary80: hsl(243, 100%, 93%, 80%);
  --secondary85: hsl(243, 100%, 93%, 85%);
  --secondary90: hsl(243, 100%, 93%, 90%);
  --secondary95: hsl(243, 100%, 93%, 95%);
  --accent5: hsl(242, 100%, 62%, 5%);
  --accent10: hsl(242, 100%, 62%, 10%);
  --accent15: hsl(242, 100%, 62%, 15%);
  --accent20: hsl(242, 100%, 62%, 20%);
  --accent25: hsl(242, 100%, 62%, 25%);
  --accent30: hsl(242, 100%, 62%, 30%);
  --accent35: hsl(242, 100%, 62%, 35%);
  --accent40: hsl(242, 100%, 62%, 40%);
  --accent45: hsl(242, 100%, 62%, 45%);
  --accent50: hsl(242, 100%, 62%, 50%);
  --accent55: hsl(242, 100%, 62%, 55%);
  --accent60: hsl(242, 100%, 62%, 60%);
  --accent65: hsl(242, 100%, 62%, 65%);
  --accent70: hsl(242, 100%, 62%, 70%);
  --accent75: hsl(242, 100%, 62%, 75%);
  --accent80: hsl(242, 100%, 62%, 80%);
  --accent85: hsl(242, 100%, 62%, 85%);
  --accent90: hsl(242, 100%, 62%, 90%);
  --accent95: hsl(242, 100%, 62%, 95%);

}
section>div{
    padding: 2vh 4vw;
}
section>div>h2{
    color: var(--text);
}
section>div>h1:first-child{
    color: var(--text);
}
section>div>h1:nth-child(2){
   
    color:var(--primary);
    
}
section>div>div{
    margin: 2vh 0vw;
}
section>div>div.social-icon>a{
    margin: 0 0.7vw;
   
}
section>div>div.social-icon>a:hover>svg{
  color: var(--primary);
   
}
section>div>div.social-icon{
    display: flex;
    align-items: baseline;
}
section>div>h1>span{

    color:transparent;
    -webkit-text-stroke-color: var(--primary);
    -WEBKIT-TEXT-STROKE-WIDTH: 0.15vw;
    
}

section>div>div>button{
    background: var(--primary);
    border: none;
    overflow: hidden;
    border-radius: 1vw;

}
section>div>div>a{
    color:var(--primary);
    font-weight: bold;
}


*{
    margin: 0;
    padding: 0;
    transition:  all 200ms;
  
    font-family: "Poppins", serif;  
}

    body{
        background-color: var(--bg);
    }
    header>div:first-child{
        align-items: baseline;
        gap: 5px;
        display: flex;
    }
header{
    background-color:var(--primary5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  1vh 3vw;
} 
button{
overflow: hidden;
}

nav>a{
margin: 0 1vw;
text-decoration: none;
font-weight: bold;  
color: black; 
}
nav>a:hover,nav>a:active{
color: var(--primary);
}
.Orange-button{

    background-color: var(--primary);
    border-radius: 1vw;
    border: none;
color: var(--secondary);
}
.Orange-button:hover{

    scale: 1.02;
    border: none;
    transition:  all 100ms;
}
button:hover>p{
  
    animation: slotmachine 300ms linear ;
}

@keyframes slotmachine {
    0%{
        transform: translate3d(0 ,0 ,0);
    }
    50%{
        transform: translate3d(0, -100px, 0);
       
    }
    51%{
        transform: translate3d(0, +100px, 0);
    opacity: 1;
    }
100%
{
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
}
html{
    scroll-behavior: smooth;
}
.controller{
    /* display: flex; */
    
    border: 1px solid var(--accent);
    /* justify-content: space-between; */
    /* margin: 0px 5vw; */
    /* padding: 5vh 10px; */
    /* border-radius: 10px; */
    box-shadow: 0px 10px 20px -4px rgba(0, 0, 0, 0.308);
    border: 0px;
    /* margin-bottom: 200px; */
}

.about h1{
  font-size: 2.5rem;
  font-weight: bold;
    font-family: cursive;
}

.buttons button{
    border-bottom: 3px solid transparent ;
    border: none;
    /* border-bottom:  3px solid black; */
    cursor: pointer;
    /* background-color: red; */
    /* font-size: 0.9; */
    font-weight: bold;
    background-color: transparent;
    margin-bottom: .5vh;
}
.buttons button:hover{
    border-bottom:  1px solid var(--primary);
}
.active{
    border-bottom: .5vh solid var(--accent) !important;
   }
/* skilss section */

.sp{

    border-radius: 5px;

    animation: colorch 4s linear infinite  normal;
}

.upper h2{
    margin-top: 20px;
}
@keyframes colorch{
    0%{
        width: 0vw;
        border: 5px solid var(--accent);
    }
    100%{
        width: 90%;
        border: 5px solid var(--accent);
    }
}
/* Hide and show sections */
.hidden {
    display: none;
}

.section {
    
    /* line-height: 35px; */
    /* margin-top: 20px; */
 /* margin: 20px; */
    list-style: none;

    border-radius: 5px;
    background-color: var(--secondary40);
}
/* project slider
 */
.project{
  /* width: 90%; */
  margin: auto;
}

.card-wrapper {
  margin: 0 60px 35px;
  padding: 0 30px;
  /* padding: 2vh 5vw; */
  overflow: hidden;
}
.card-list .card-item {
  list-style: none;
}
.card-list .card-item .card-link {
  display: block;
  background:var(--primary5);
  padding: 18px;
  user-select: none;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}
.card-list .card-item .card-link:active {
  cursor: grabbing;
}
.card-list .card-item .card-link:hover {
  border-color: var(--primary);
}
.card-list .card-link .card-image {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
.card-list .card-link .badge {
  color: #5372F0;
  width: fit-content;
  padding: 8px 16px;
  font-size: 0.95rem;
  border-radius: 50px;
  font-weight: 500;
  background: #DDE4FF;
  margin: 16px 0 18px;
}
.card-list .card-link .badge-designer {
  color: #B22485;
  background: #F7DFF5;
}
.card-list .card-link .badge-marketer {
  color: #B25A2B;
  background: #FFE3D2;
}
.card-list .card-link .badge-gamer {
  color: #205C20;
  background: #D6F8D6;
}
.card-list .card-link .badge-editor {
  color: #856404;
  background: #fff3cd;
}
.card-list .card-link .card-title {
  color: #000;
  font-size: 1.19rem;
  font-weight: 600;
}
.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: var(--text);
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid var(--primary);
  transform: rotate(-45deg);
  transition: 0.4s ease;
}
.card-list .card-link:hover .card-button {
  color:var(--bg);
  background-color: var(--primary);
}
.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background-color: #443dff;
}
.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}
.card-wrapper .swiper-slide-button {
  color: var(--primary);
  margin-top: -35px;
}
/* Responsive media query code for small screens */
@media (max-width: 768px) {
  .card-wrapper {
    margin: 0 10px 25px;
  }
  .card-wrapper .swiper-slide-button {
    display: none;
  }
}

.chat{
  /* border: 5px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  
}
.chatc{
  width: 35vw;
  /* border: 5px solid green; */
  height: 30vh;
  text-align: center;
}
.chatc h1{
  font-family: cursive;
  font-size: 2.5rem;
  font-weight: bold;
}
.chatc button a{
  /* background-color: black; */
  color: white;
  font-size: 1.2rem;
    text-decoration: none;
}
.chatc button{
  width: 15vw;
  background-color: black;
  height: 5vh;
  border-radius: 14px;
  margin-top: 20px;
  /* transition:all 100ms; */
}
.foot{
  width:100%;
  height: 300px;
  /* border: 5px solid red; */
  display: flex;
  /* flex-direction: column; */
  /* display: inline-block; */
  /* flex-wrap: wrap; */
    gap: 100px;
    margin-top: 100px;
}
li {
  margin-top: 20px; 
  
}
 .foot a{
  color:  black;
  
}
.foot li{
  list-style: none;
}

.cd{
  display: flex; 
  display: inline-block; 
  /* border: 5px solid red; */
  width: 300px;
  height: 300px;
  
  padding: 20px;
  margin-left: 100px;
  
}
.first{
  position: relative;
  top: 60px;
  margin-left: 120px;
  /* border: 5px solid red; */
  font-size: 20px;
}
.chatc button:hover{
  
  scale: 1.3;
  transition:  all 100ms;
}
.project h1{
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;

  font-family: cursive;
}

